$theme-colors: (
	"primary" : #000721,
	"secondary" : #840032,
	"info" : #EAD2AC
);

// navy blue : #000721
// burgundy : #840032
// desert sand : #EAD2AC

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$header-font: "Raleway", sans-serif;
$normal-font: "Merriweather", serif;

@import '../node_modules/bootstrap/scss/bootstrap';

html {
	overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

.tools {
	font-size : 5rem;
	margin: 5px;

}
.tools:before {
	text-align: center;
    display: block;
    width:100px;
}
nav {
	border-bottom: 1px solid #EAD2AC;

}

.fa-arrow-down {
	font-size : 3rem;
	color : gray;
}

.fa-html5 {
	color : orangered;
}

.fa-css3-alt {
	color : royalblue;
}

.fa-bootstrap {
	color : purple;
}

.fa-git-alt {
	color : orangered;
}

.fa-js-square {
	color : orange;
}

.fa-node {
	color : yellowgreen;
}

.fa-laravel {
	color : red;
}

.fa-react {
	color : mediumturquoise;
}

.fa-database {
	color : royalblue;
}

.fa-php {
	color : royalblue;
}

.fa-sass {
	color : orchid;
}

#headBanner {
	height: calc(100vh);
	background-image: url("./../images/myBg1.png");
	 background-attachment: fixed;
  background-size: cover;
  display : flex;
  justify-content: center;
  align-items: center;
  .banner-flavor {
  	color: white;
  }
}



#aboutMe, #myWork {
	min-height: 100vh
}



